.primaryWindow{
  width: 100vw;
  height: 48.12vw;
  background-color:ghostwhite;
  overflow: hidden;
}

.top{
  width: 100%;
  height: 100%;
}

.low{
  width: 100%;
  height: 100%;
}
.midBodies{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
}

.templateNameInput{
  width: 100%;
  height: 900%;
  position: absolute;
  top: -800%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Inputbox{
  width: 30%;
  height: 30%;
  position: relative;
  top: 0%;
 
}

.Input{
  width: 50%;
  height: 23%;
  border:none;
  position: absolute;
  top: 36%;
  left: 40%;
  background-color:transparent;
  outline: none;
  color: white;
}

input:focus, textarea {
  outline: none !important;
}
.InputboxSVG{
  width: 100%;
  height: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style:oblique;
  font-weight: 600;
  color: whitesmoke;
  opacity: 1; /* Firefox */
}

.InputSaveButtonSVG{
  width: 100%;
  height: 100%;
}

.InputSaveButton{
  position: relative;
  width: 25%;
  top: -37%;
  left: 38%;
}

.mailEditor{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 11;
}

.midButtons{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0%;
}

.mailEditorButtons{
  position: absolute;
  width: 100%;
  height: 10%;
  /* border-color: blueviolet;
  border-style: solid; */
  bottom:6% ;
  display: flex;
  justify-content: center;
  align-content: center;
}





