.campName{

    flex-basis: 70%;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loadButtonHolder{

    flex-basis: 28%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadButton{

    flex-basis: 80%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 38, 74);
    border-radius: 5%;
    color: white;
}